<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>签约艺人_华星兄弟-中国最大的网红粉丝经纪服务平台</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script src="js/lansige.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
    <link href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 6]>
    <meta http-equiv="refresh" content="0;url=/no-ie6.html"/>
    <![endif]-->
    <!--[if lte IE 7]>
    <meta http-equiv="refresh" content="0;url=/no-ie6.html"/>
    <![endif]-->
</head>
<body>
<!-- head start -->
<header class="header header-top" id="header">
    <div class="container">
        <h1 class="logo pull-left"><img src="picture/logo55.png" width="255" height="51"/></h1>
        <nav class="nav pull-right">
            <ul class="nav-bar list-unstyled pull-left" id="nav">
                <li><a href="/">网站首页</a></li>
                <li><a href="/about/jianjie/">关于我们</a>
                    <ul class="list-unstyled">

                        <li><a href="/about/jianjie/">公司简介</a></li>

                        <li><a href="/about/wenhua/">团队介绍</a></li>

                    </ul>
                </li>
                <li><a href="/case/">签约艺人</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/service/anlizhanshi/">业务展示</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/yirenzhaomu/">艺人招募</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/news/">行业资讯</a>
                    <ul class="list-unstyled">

                        <li><a href="/news/yejiedongtai/">业界资讯</a></li>

                        <li><a href="/news/jiemuzixun/">主播资讯</a></li>

                        <li><a href="/news/huaxingdongtai/">华星动态</a></li>

                    </ul>
                </li>
                <li><a href="/contact/">联系我们</a>
                    <ul class="list-unstyled">

                        <li><a href="/about/job/">人才招聘</a></li>

                        <li><a href="/contact/shangwuhezuo/">商务合作</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>


<!-- head End -->
<!-- ym-banner start -->
<!-- banner start -->
<div class="text-center">
    <ul class="rslides list-unstyled">
        <li>
            <div class="banner" style="background-image:url(images/banner_yirenshow.jpg)">
                <div class="container"></div>
            </div>
        </li>
    </ul>
</div>
<!-- banner End -->
<!-- ym-banner End -->
<!-- crumbs start -->
<section class="crumbs text-right">
    <div class="container">
        <ul class="list-unstyled">

        </ul>
    </div>
</section>
<!-- crumbs End -->
<!-- content start -->
<div class="neirong">
    <section class="case sx-padding" id="demo">
        <div class="container">
            <div class="row">
                <figure class="wow animated flipInX"><a href="/case/458.html" target="_blank"><img
                        src="picture/2-1p206163202105.jpg" width="360" height="256" alt="华星主播|甜甜九同学"/></a>
                    <figcaption>
                        <h3><a href="/case/458.html" title="华星主播|甜甜九同学" target="_blank">华星主播|甜甜九同学</a></h3>
                        <p>昵称：甜甜九同学 身高：165 直播平台：火山 房间号：443315594 因为一直以来自己都喜欢看直播，到后来想想其实自己也是可以去当主播去尝试一下带给粉丝欢乐。...</p>
                        <p class="case-more-top"><a href="/case/458.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/361.html" target="_blank"><img
                        src="picture/2-1g1211j312b7.jpg" width="360" height="256" alt="华星主播|你的陈宇baby"/></a>
                    <figcaption>
                        <h3><a href="/case/361.html" title="华星主播|你的陈宇baby" target="_blank">华星主播|你的陈宇baby</a></h3>
                        <p>昵称：你的陈宇baby 身高：163 m 体重：46kg 平台：熊猫 ID：10119209...</p>
                        <p class="case-more-top"><a href="/case/361.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/439.html" target="_blank"><img
                        src="picture/2-1p112153150328-lp.jpg" width="360" height="256" alt="华星主播|安娜要一直努力"/></a>
                    <figcaption>
                        <h3><a href="/case/439.html" title="华星主播|安娜要一直努力" target="_blank">华星主播|安娜要一直努力</a></h3>
                        <p>姓名 ：安娜 年龄 ：25 身高 ：169 体重 ：45kg 直播平台 ： 熊猫直播 直播ID ：102945 BY 安娜
                            关于做直播并不是那么容易，还好遇到了华星兄弟，他们教会了我在直播...</p>
                        <p class="case-more-top"><a href="/case/439.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/415.html" target="_blank"><img
                        src="picture/2-1g22q0554k92.jpg" width="360" height="256" alt="华星主播|小源宝"/></a>
                    <figcaption>
                        <h3><a href="/case/415.html" title="华星主播|小源宝" target="_blank">华星主播|小源宝</a></h3>
                        <p>昵称：小源宝 爱好：撸猫 直播平台:NOW直播 直播ID：114953766 直播时间：每天下午5:20；晚上9:30
                            作为新主播，也是一名平面模特，早就习惯了面对镜头，她在镜头前...</p>
                        <p class="case-more-top"><a href="/case/415.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/427.html" target="_blank"><img
                        src="picture/2-1p10q2523ya.jpg" width="360" height="256" alt="华星主播|好声音猫"/></a>
                    <figcaption>
                        <h3><a href="/case/427.html" title="华星主播|好声音猫" target="_blank">华星主播|好声音猫</a></h3>
                        <p>姓名： 好声音猫 年龄： 24 身高： 168 兴趣爱好： 撸猫 唱歌 直播平台： 熊猫 星颜 直播ID： 1122702 微博ID： 豹子兔子狐狸猫 夜猫子 还喜欢撸猫
                            像猫一样神秘妖娆...</p>
                        <p class="case-more-top"><a href="/case/427.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/425.html" target="_blank"><img
                        src="picture/2-1p105131634w7.jpg" width="360" height="256" alt="华星主播|小喵大宝"/></a>
                    <figcaption>
                        <h3><a href="/case/425.html" title="华星主播|小喵大宝" target="_blank">华星主播|小喵大宝</a></h3>
                        <p>小喵大宝 姓名：宁姗姗 年龄：22 直播平台：熊猫直播 直播ID：107321 （小喵大宝） 才艺：跳舞 走进小喵大宝的直播间，容颜姣好、声音软甜的小喵正在和粉丝们热...</p>
                        <p class="case-more-top"><a href="/case/425.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/419.html" target="_blank"><img
                        src="picture/2-1p102111629619.jpg" width="360" height="256" alt="华星主播|WIND李佳宜"/></a>
                    <figcaption>
                        <h3><a href="/case/419.html" title="华星主播|WIND李佳宜" target="_blank">华星主播|WIND李佳宜</a></h3>
                        <p>李佳宜是华星兄弟签约的主播， 在做主播之前的她就已经在歌唱的道路上前行了很远，并且也是一位小有名气的原创音乐人。 昵称：WIND李佳宜 直播平台：酷狗繁...</p>
                        <p class="case-more-top"><a href="/case/419.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/423.html" target="_blank"><img
                        src="picture/2-1p1041256213j.jpg" width="360" height="256" alt="华星主播|筝声XuanxUan萱"/></a>
                    <figcaption>
                        <h3><a href="/case/423.html" title="华星主播|筝声XuanxUan萱" target="_blank">华星主播|筝声XuanxUan萱</a></h3>
                        <p>昵称 筝声XuanxUan萱 直播平台 花椒直播 直播ID 34081968
                            本期给大家介绍一位古筝妹子主播古筝筝声XuanxUan萱，拥有好看的皮囊之外还有一颗有才华的灵魂。（又是一个...</p>
                        <p class="case-more-top"><a href="/case/423.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/417.html" target="_blank"><img
                        src="picture/2-1g229125340552-lp.jpg" width="360" height="256" alt="华星主播|白可爱兔子"/></a>
                    <figcaption>
                        <h3><a href="/case/417.html" title="华星主播|白可爱兔子" target="_blank">华星主播|白可爱兔子</a></h3>
                        <p>昵称：白可爱兔子 年龄：21 身高：165cm 直播平台：NOW直播 房间号\ID：63320662 才艺：唱歌，跳舞
                            这个时而是成熟御姐，时而又是清纯萝莉的女生，因为风格百变，...</p>
                        <p class="case-more-top"><a href="/case/417.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/421.html" target="_blank"><img
                        src="picture/2-1p103125zgf.jpg" width="360" height="256" alt="华星主播|琪琪琪琪哟"/></a>
                    <figcaption>
                        <h3><a href="/case/421.html" title="华星主播|琪琪琪琪哟" target="_blank">华星主播|琪琪琪琪哟</a></h3>
                        <p>昵称： 琪琪琪琪哟 年龄：24 直播平台：熊猫直播 直播号：103053 当时就是抱着试一试的心态开播的，没想到一开始就有好多人支持我，每天等着我直播，决战到天...</p>
                        <p class="case-more-top"><a href="/case/421.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/436.html" target="_blank"><img
                        src="picture/2-1p111143rt95.jpg" width="360" height="256" alt="主播推荐|梓萌"/></a>
                    <figcaption>
                        <h3><a href="/case/436.html" title="主播推荐|梓萌" target="_blank">主播推荐|梓萌</a></h3>
                        <p>姓名：梓盟 身高：170cm 三围：82 60 90 直播平台：熊猫星颜 ID：66198
                            有很多人都觉得梓盟眼熟，粉丝们眼中的她，不仅撞脸徐若瑄，笑起来的时候像林志玲，还是一...</p>
                        <p class="case-more-top"><a href="/case/436.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
                <figure class="wow animated flipInX"><a href="/case/434.html" target="_blank"><img
                        src="picture/2-1p110150420637-lp.jpg" width="360" height="256" alt="华星主播|雅儿姐姐"/></a>
                    <figcaption>
                        <h3><a href="/case/434.html" title="华星主播|雅儿姐姐" target="_blank">华星主播|雅儿姐姐</a></h3>
                        <p>姓名： 雅儿 身高： 168cm 平台： 陌陌直播 ID： 465511864
                            在我们的印象中，好像哼哼小曲不过是街头的小技小艺，而要靠这门技巧实现月入六位数，年入破百万简直...</p>
                        <p class="case-more-top"><a href="/case/434.html" class="btn-success case-more" target="_blank">MORE
                            INFO →</a> 关注：
                            <script src="js/count.js" type='text/javascript' language="javascript"></script>
                            人
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="pages"><a>首页</a>
                <a class="nowpage">1</a>
                <a href='list_9_2.html'>2</a>
                <a href='list_9_3.html'>3</a>
                <a href='list_9_4.html'>4</a>
                <a href='list_9_5.html'>5</a>
                <a href='list_9_6.html'>6</a>
                <a href='list_9_7.html'>7</a>
                <a href='list_9_8.html'>8</a>
                <a href='list_9_9.html'>9</a>
                <a href='list_9_10.html'>10</a>
                <a href='list_9_11.html'>11</a>
                <a href='list_9_12.html'>12</a>
                <a href='list_9_13.html'>13</a>
                <a href='list_9_14.html'>14</a>
                <a href='list_9_15.html'>15</a>
                <a href='list_9_2.html'>下一页</a>
                <a href='list_9_17.html'>末页</a>
            </div>
        </div>
    </section>
</div>
<!-- content End -->
<!-- footer start -->
<!-- footer start -->

<footer style="background-image: url(images/footer_bg.jpg);" class="pingpu-bg" id="yy">
    <div id="demo" class="footer container sx-padding">
        <div class="clearfix wow animated fadeIn">
            <section>
                <h3>华星新媒体 Online booking</h3>

                <img src="picture/erweima.png">

            </section>
            <section class="bianju">
                <h3>联系我们 Contact US</h3>
                <address>
                    <ul class="list-unstyled">
                        <li>公司地址：中国·成都市锦江区时代一号</li>
                        <li>服务电话：028-84449937</li>
                        <li>E-mail：tangtian@hxxd.tv</li>
                    </ul>
                </address>
                <h4>快捷入口 Quick Entry</h4>
                <p><a href="/about/jianjie/" target="_blank">关于我们</a> /
                    <a href="/case/" target="_blank">签约艺人</a> /
                    <a href="/service/anlizhanshi/" target="_blank">业务展示</a> /
                    <a href="/yirenzhaomu/" target="_blank">艺人招募</a> /
                    <a href="/news/" target="_blank">行业资讯</a> /
                    <a href="/contact/" target="_blank">联系我们</a> /
                </p>
                <p class="zhixun"><a href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="qq"
                                     target="_blank">在线QQ咨询</a></p>
            </section>
            <section>
                <h3>内容搜索 Search</h3>
                <form name="formsearch" action="/plus/search.php">
                    <ul class="list-unstyled">
                        <li><input name="q" type="text" class="key" value="输入关键词 Keyword" placeholder="输入关键词 Keyword"
                                   onFocus="if (value =='输入关键词 Keyword'){value =''}"
                                   onBlur="if (value ==''){value='输入关键词 Keyword'}"/><input type="submit"
                                                                                           class="s-button" value="搜索"/>
                        </li>
                    </ul>
                </form>
                <form method="post" target="_blank" action="http://list.qq.com/cgi-bin/qf_compose_send">
                    <ul class="list-unstyled">
                        <li class="mail-tx">输入邮箱定期接收我们的最新信息</li>
                        <li><input type="hidden" value="qf_booked_feedback" name="t"/>
                            <input type="hidden" value="79d7181ac4d8b0144664925406fa6b1ebc29568929546ae8" name="id"/>
                            <input type="text" class="mail" name="to" id="to" value="Email Address"
                                   placeholder="Email Address" onFocus="if (value =='Email Address'){value =''}"
                                   onBlur="if (value ==''){value='Email Address'}"/><input type="submit"
                                                                                           class="m-button" value="提交">
                        </li>
                    </ul>
                </form>
            </section>
        </div>
        <div class="yq-link">
            <hr/>

        </div>
    </div>
    <div class="foot">
        <div class="container clearfix">
            <p class="copy pull-left">COPYRIGHT © 2014-2017 成都华星兄弟文化传媒有限公司 蜀ICP备17035091号-1</p>
            <p class="renzheng pull-right text-right"><img src="picture/2014090504144234.png" width="32" height="32"
                                                           alt="工商合法注册企业" title="工商合法注册企业"/> <img
                    src="picture/2014090504203747.png" width="32" height="32" alt="安全网站" title="安全网站"/> <img
                    src="picture/2014090504244226.png" width="32" height="32" alt="网上报警" title="网上报警"/></p>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- kehu start -->
<!--<div class="kefu">
  <ul class="list-unstyled">
    <li><a href="/contact" title="更多联系方式" target="_blank" class="kefu-lx">在线客服</a></li>
    <li><a href="#yy" class="kefu-yy" title="快速给我们留言" rel="nofollow">快速留言</a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="kefu-zx">在线咨询</a></li>
    <li><a href="#yy" class="kefu-wx" title="华星微信公众号" rel="nofollow">微信公众号<span class="kefu-weixin"><img src="picture/kefu-weixin.jpg" width="140" height="140" alt=""/></span></a></li>
    <li><a href="#top" class="kefu-top" title="回网页顶部" rel="nofollow">返回顶部</a></li>
  </ul>
</div>-->
<!-- jQuery start -->
<script src="js/jquery.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100
        });
    wow.init();
    document.getElementById('moar').onclick = function () {
        var section = document.createElement('section');
        section.className = 'section--purple wow fadeInDown';
        this.parentNode.insertBefore(section, this);
    };
</script>

<!-- header up start -->
<script src="js/headroom.min.js"></script>
<script src="js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<!-- banner start -->
<script type="text/javascript" src="js/jiaodiantu.js"></script>
<script type="text/javascript" src="js/nav.hover.js"></script>


</body>
</html>