<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>成都荣耀世纪-中国最大的网红粉丝经纪服务平台</title>
    <meta name="description"
          content="中国最大的网红粉丝经纪服务平台。华星兄弟公司成立于2014年10月，专注于网络直播、内容制造与发行、艺人孵化与输出、粉丝经济拓展、商业合作整合营销与推广传播等业务。"/>
    <meta name="keywords" content="网络直播,网络主播,成为主播"/>
    <meta name="author" content="design by www.dede58.com"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script src="js/lansige.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
    <link href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 6]>
    <meta http-equiv="refresh" content="0;url=/no-ie6.html"/>
    <![endif]-->
    <!--[if lte IE 7]>
    <meta http-equiv="refresh" content="0;url=/no-ie6.html"/>
    <![endif]-->
</head>
<body>
<!-- head start -->
<header class="header header-top" id="header">
    <div class="container">
        <h1 class="logo pull-left"><img src="picture/logo55.png" width="255" height="51"/></h1>
        <nav class="nav pull-right">
            <ul class="nav-bar list-unstyled pull-left" id="nav">
                <li><a href="/">网站首页</a></li>
                <li><a href="/about/jianjie/">关于我们</a>
                    <ul class="list-unstyled">

                        <li><a href="/about/jianjie/">公司简介</a></li>

                        <li><a href="/about/wenhua/">团队介绍</a></li>

                    </ul>
                </li>
                <li><a href="/case/">签约艺人</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/service/anlizhanshi/">业务展示</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/yirenzhaomu/">艺人招募</a>
                    <ul class="list-unstyled">

                    </ul>
                </li>
                <li><a href="/news/">行业资讯</a>
                    <ul class="list-unstyled">

                        <li><a href="/news/yejiedongtai/">业界资讯</a></li>

                        <li><a href="/news/jiemuzixun/">主播资讯</a></li>

                        <li><a href="/news/huaxingdongtai/">华星动态</a></li>

                    </ul>
                </li>
                <li><a href="/contact/">联系我们</a>
                    <ul class="list-unstyled">

                        <li><a href="/about/job/">人才招聘</a></li>

                        <li><a href="/contact/shangwuhezuo/">商务合作</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>


<!-- head End -->
<!-- banner start -->
<div class="text-center">
    <ul class="rslides list-unstyled">
        <li>
            <div class="banner" style="background-image:url(/uploads/banner/831.jpg">
                <div class="container"></div>
            </div>
        </li>
        <li>
            <div class="banner" style="background-image:url('/rysj/uploads/banner/135.jpg')">
                <div class="container"></div>
            </div>
        </li>
        <li>
            <div class="banner" style="background-image:url(/uploads/banner/29.jpg">
                <div class="container"></div>
            </div>
        </li>
        <li><a href="http://www.hxxd.tv" target="_blank">
            <div class="banner" style="background-image:url(images/59.jpg)">
                <div class="container"></div>
            </div>
        </a></li>
        <li><a href="http://www.hxxd.tv/yirenzhaomu/" target="_blank">
            <div class="banner" style="background-image:url(images/839.jpg)">
                <div class="container"></div>
            </div>
        </a></li>
    </ul>
</div>
<!-- banner End -->

<!-- Anli start -->
<section class="case text-center sx-padding" id="demo" style="background-image: url(images/showbg.jpg);	background-repeat: no-repeat;
	background-position: center;">
    <div class="container">
        <h2 class="f-title wow animated fadeInUp">华星艺人 推荐展示 Artist show</h2>

        <div class="row">
            <figure class="wow animated flipInX">
                <a href="/case/364.html" target="_blank"><img src="picture/2-1g123103341i5.jpg" width="360" height="256"
                                                              alt="华星主播|你的小新新吖"/></a>
                <figcaption>
                    <h3><a href="/case/364.html" target="_blank">华星主播|你的小新新吖</a></h3>
                    <p>昵称：你的小新新吖 身高：164 m 体重：46kg 平台：熊猫 ID：16072377...</p>
                    <p class="case-more-top"><a href="/case/364.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX">
                <a href="/case/353.html" target="_blank"><img src="picture/2-1g116141p94e.jpg" width="360" height="256"
                                                              alt="华星主播|大番薯"/></a>
                <figcaption>
                    <h3><a href="/case/353.html" target="_blank">华星主播|大番薯</a></h3>
                    <p>昵称：大番薯 身高：165 cm 体重：46kg 平台：网易薄荷 ID：92144005...</p>
                    <p class="case-more-top"><a href="/case/353.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX">
                <a href="/case/458.html" target="_blank"><img src="picture/2-1p206163202105.jpg" width="360"
                                                              height="256" alt="华星主播|甜甜九同学"/></a>
                <figcaption>
                    <h3><a href="/case/458.html" target="_blank">华星主播|甜甜九同学</a></h3>
                    <p>昵称：甜甜九同学 身高：165 直播平台：火山 房间号：443315594 因为一直以来自己都喜欢看直播，到后来想想其实自己也是可以去当主播去尝试一下带给粉丝欢乐。...</p>
                    <p class="case-more-top"><a href="/case/458.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX">
                <a href="/case/361.html" target="_blank"><img src="picture/2-1g1211j312b7.jpg" width="360" height="256"
                                                              alt="华星主播|你的陈宇baby"/></a>
                <figcaption>
                    <h3><a href="/case/361.html" target="_blank">华星主播|你的陈宇baby</a></h3>
                    <p>昵称：你的陈宇baby 身高：163 m 体重：46kg 平台：熊猫 ID：10119209...</p>
                    <p class="case-more-top"><a href="/case/361.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX">
                <a href="/case/439.html" target="_blank"><img src="picture/2-1p112153150328-lp.jpg" width="360"
                                                              height="256" alt="华星主播|安娜要一直努力"/></a>
                <figcaption>
                    <h3><a href="/case/439.html" target="_blank">华星主播|安娜要一直努力</a></h3>
                    <p>姓名 ：安娜 年龄 ：25 身高 ：169 体重 ：45kg 直播平台 ： 熊猫直播 直播ID ：102945 BY 安娜
                        关于做直播并不是那么容易，还好遇到了华星兄弟，他们教会了我在直播...</p>
                    <p class="case-more-top"><a href="/case/439.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX">
                <a href="/case/415.html" target="_blank"><img src="picture/2-1g22q0554k92.jpg" width="360" height="256"
                                                              alt="华星主播|小源宝"/></a>
                <figcaption>
                    <h3><a href="/case/415.html" target="_blank">华星主播|小源宝</a></h3>
                    <p>昵称：小源宝 爱好：撸猫 直播平台:NOW直播 直播ID：114953766 直播时间：每天下午5:20；晚上9:30 作为新主播，也是一名平面模特，早就习惯了面对镜头，她在镜头前...</p>
                    <p class="case-more-top"><a href="/case/415.html" class="btn-success case-more" target="_blank">MORE
                        INFO →</a> 关注：
                        <script src="js/count.js" type='text/javascript' language="javascript"></script>
                        人
                    </p>
                </figcaption>
            </figure>


        </div>
    </div>
</section><!-- Anli end -->

<!-- fuwu start -->
<section style="background-image: url(images/2014092200018883.jpg);" class="fuwu-bg pingpu-bg" id="demo">
    <div class="fuwu container text-center sx-padding">
        <h2 class="f-title wow animated fadeInUp">华星兄弟 Business Module
            <small>围绕网红艺人，以视频直播为形式开展多种类型业务模块！</small>
        </h2>
        <div class="row">
            <figure class="wow animated zoomIn">
                <a href="javascript:" class="pic1"></a>
                <figcaption><a href="javascript:">艺人经纪 Artist Management</a></figcaption>
                <p>公司挖掘、培养网红艺人，围绕网红艺人进行直播合作、网络电商、演艺演出、广告代言、电视电影（网大网剧）拍摄等相关艺人经纪业务。</p>
            </figure>

            <figure class="bianju wow animated zoomIn">
                <a href="javascript:" class="pic2" target="_blank"></a>
                <figcaption><a href="javascript:">直播业务 Live Service</a></figcaption>
                <p>通过视频直播为形式与全国多家直播平台合作，娱乐在线直播、游戏在线直播、网络综艺直播等直播合作，以及体育、财经、美食、旅游等垂直类直播内容输出。</p>
            </figure>

            <figure class="wow animated zoomIn">
                <a href="javascript:" class="pic3" target="_blank"></a>
                <figcaption><a href="javascript:"><a href="https://weidian.com/?userid=377360121&infoType=1">电商业务 Online
                    retailers</a></a></figcaption>
                <p>根据网红自身条件，精准对接媒体、电商、直播等平台资源。利用话题制造，事件营销，提升网红的关注度与知名度，高度分析粉丝能力，实现高效转化！</p>
            </figure>
        </div>

        <div class="row">
            <figure class="wow animated zoomIn">
                <a href="javascript:" class="pic4"></a>
                <figcaption><a href="javascript:">内容制造 Live Service</a></figcaption>
                <p>通过视频直播为形式与全国多家直播平台合作，娱乐在线直播、游戏在线直播、网络综艺直播等直播合作，以及体育、财经、美食、旅游等垂直类直播内容输出。</p>
            </figure>

            <figure class="bianju wow animated zoomIn">
                <a href="javascript:" class="pic5" target="_blank"></a>
                <figcaption><a href="javascript:">广告推广 Advertisement</a></figcaption>
                <p>每天千万级流量的曝光率，网红资源整合新媒体传媒，CPS,CPA多种形式的广告推广合作模式，精准的投放通道，让您的推广更具穿透力。</p>
            </figure>

            <figure class="wow animated zoomIn">
                <a href="javascript:" class="pic6" target="_blank"></a>
                <figcaption><a href="javascript:">整合营销 Business Cooperation</a></figcaption>
                <p>致力于互联网内容营销，为客户提供优质的互联网资源(新媒体资源、网红资源）、优秀的线上媒体资源，为客户提供更精准、更高效的线上品牌营销服务。</p>
            </figure>
        </div>

    </div>
    </div>
</section><!-- fuwu end -->
<!-- News start -->
<div class="news" id="demo">
    <div class="container sx-padding clearfix">
        <section class="wow animated fadeInUp">
            <h2>业界资讯
                <small>Expertise</small>
            </h2>
            <ul class="list-unstyled clearfix">

                <li><a href="/news/yejiedongtai/2018/0308/479.html" title="绝地求生2月份封号160万 两个月仅封禁帐号获" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">绝地求生2月份封号160万 两个月仅封禁帐号获</a>
                    <small class="pull-right">03-08</small>
                </li>
                <li><a href="/news/yejiedongtai/2018/0307/478.html" title="虎牙直播正式启动赴美IPO进程 已秘密提交IP" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">虎牙直播正式启动赴美IPO进程 已秘密提交IP</a>
                    <small class="pull-right">03-07</small>
                </li>
                <li><a href="/news/yejiedongtai/2018/0307/477.html" title="虎牙直播正式启动赴美IPO进程 已秘密提交IP" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">虎牙直播正式启动赴美IPO进程 已秘密提交IP</a>
                    <small class="pull-right">03-07</small>
                </li>
                <li><a href="/news/yejiedongtai/2018/0306/476.html" title="人口红利消失、资本热潮褪去 后直播时代的斗" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">人口红利消失、资本热潮褪去 后直播时代的斗</a>
                    <small class="pull-right">03-06</small>
                </li>
                <li><a href="/news/yejiedongtai/2018/0302/475.html" title="多个直播平台涉黄被查！ 近百女主播40天获利" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">多个直播平台涉黄被查！ 近百女主播40天获利</a>
                    <small class="pull-right">03-02</small>
                </li>
                <li><a href="/news/yejiedongtai/2018/0301/474.html" title="今年全球电竞持续火爆！中国电竞市场或再创" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">今年全球电竞持续火爆！中国电竞市场或再创</a>
                    <small class="pull-right">03-01</small>
                </li>


            </ul>
            <p><a href="/news/yejiedongtai/" class="btn-success news-more" target="_blank">MORE INFO →</a></p>
        </section>


        <section class=" bianju wow animated fadeInUp">
            <h2>节目资讯
                <small>Industry News</small>
            </h2>
            <ul class="list-unstyled clearfix">

                <li><a href="/news/jiemuzixun/2017/1114/350.html" title="2017年原创电竞节目|《国服最强》" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2017年原创电竞节目|《国服最强》</a>
                    <small class="pull-right">11-14</small>
                </li>
                <li><a href="/news/jiemuzixun/2017/1106/340.html" title="2017年制作综艺|《刚好遇见你》" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2017年制作综艺|《刚好遇见你》</a>
                    <small class="pull-right">11-06</small>
                </li>
                <li><a href="/news/jiemuzixun/2017/0601/130.html" title="2017年播出节目|《奔跑吧老铁》" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2017年播出节目|《奔跑吧老铁》</a>
                    <small class="pull-right">06-01</small>
                </li>
                <li><a href="/news/jiemuzixun/2017/0601/129.html" title="2017年播出节目|宝贝向钱冲" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2017年播出节目|宝贝向钱冲</a>
                    <small class="pull-right">06-01</small>
                </li>
                <li><a href="/news/jiemuzixun/2017/0601/128.html" title="2017年播出节目|《百变甜心》" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2017年播出节目|《百变甜心》</a>
                    <small class="pull-right">06-01</small>
                </li>
                <li><a href="/news/jiemuzixun/2017/0601/127.html" title="2016年节目回顾|找抽呢" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">2016年节目回顾|找抽呢</a>
                    <small class="pull-right">06-01</small>
                </li>


            </ul>
            <p><a href="/news/jiemuzixun/" class="btn-success news-more" target="_blank">MORE INFO →</a></p>
        </section>
        <section class="wow animated fadeInUp">
            <h2>华星动态
                <small>Company News</small>
            </h2>
            <ul class="list-unstyled clearfix">
                <li><a href="/news/huaxingdongtai/2018/0131/453.html" title="华星兄弟“新征程 不止步”年度盛典圆满" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">华星兄弟“新征程 不止步”年度盛典圆满</a>
                    <small class="pull-right">01-31</small>
                </li>
                <li><a href="/news/huaxingdongtai/2018/0125/449.html" title="华星兄弟与蘑菇街联手，打造蘑菇街uni引" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">华星兄弟与蘑菇街联手，打造蘑菇街uni引</a>
                    <small class="pull-right">01-25</small>
                </li>
                <li><a href="/news/huaxingdongtai/2018/0115/441.html" title="华星员工为公司送祝福，共同展望2018" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">华星员工为公司送祝福，共同展望2018</a>
                    <small class="pull-right">01-15</small>
                </li>
                <li><a href="/news/huaxingdongtai/2018/0109/430.html" title="新征程，不止步：2017年华星兄弟年度盛典" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">新征程，不止步：2017年华星兄弟年度盛典</a>
                    <small class="pull-right">01-15</small>
                </li>
                <li><a href="/news/huaxingdongtai/2017/1120/358.html" title="中国直播巅峰榜投票活动今日开启" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">中国直播巅峰榜投票活动今日开启</a>
                    <small class="pull-right">11-20</small>
                </li>
                <li><a href="/news/huaxingdongtai/2017/1114/351.html" title="华星兄弟原创赛事《北极熊杯主播真霸》" target="_blank"
                       Style="Color:rgb(255;font-weight:bold;">华星兄弟原创赛事《北极熊杯主播真霸》</a>
                    <small class="pull-right">11-14</small>
                </li>

            </ul>
            <p><a href="/news/huaxingdongtai/" class="btn-success news-more" target="_blank">MORE INFO →</a></p>
        </section>

    </div>
</div>
<!-- News end -->
<!-- about US start -->
<div style="background-image: url(images/2014092201586924.jpg);" class="pingpu-bg">
    <article id="demo" class="about container text-center sx-padding">
        <h2 class="f-title wow animated fadeInUp">关于我们 About US
            <small>中国最大的直播经纪服务公司</small>
        </h2>
        <div class="about-lianjie text-center"><img src="picture/4646.png"></div>
        <div class="about-us wow animated fadeInUp">
            <p>华星兄弟公司成立于2014年10月，公司总部座落在中国成都市锦江区时代一号39楼。<br>
                专注于网络直播、内容制造与发行、艺人孵化与输出、粉丝经济拓展、商业合作 营销与推广传播等业务。 <br>
                发展至今，公司已成为中国前三、西南地区最大的整合性网红粉丝经济服务公司。 <br>
                现今公司工作人员超百人，以西南地区成都市为公司核心运营，在四川多地开设工作室，并在北京、上海、深圳、西安、新疆等地陆续开设分公司。 <br>
                2015年获得国金、新浪投资1200万（估值6000万）；<br>
                腾讯QQ空间及腾讯体育以股权形式提供15层的腾讯众创空间于浙江金华。<br>
                以致力为“中国最大的网红粉丝经纪服务平台”的巩固而努力中。<a href="/about/jianjie/" target="_blank">MORE INFO →</a></p>

            <div class="about-lianjie text-center"><a href="/about/wenhua/" class="td" target="_blank">我们的团队 Honor</a><a
                    href="/service/anlizhanshi/" class="ry" target="_blank">案例展示 Show</a><a href="/contact/" class="su"
                                                                                            target="_blank">我们的地址
                Map</a></div>
        </div>
    </article>
</div><!-- About US end -->
<!-- kehu start -->
<section style="background-image: url(images/2014092201299540.png);" class="kehu sx-padding text-center pingpu-bg"
         id="demo">
    <div class="container">
        <h2 class="f-title wow animated fadeInUp">合作伙伴 Customer Service
            <small>无兄弟，不直播</small>
        </h2>
        <div class="row">
            <figure class="wow animated flipInX"><img src="picture/logo_001panda.jpg" width="188" height="100"
                                                      alt="熊猫直播"/>
                <figcaption>熊猫直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_001_1douyu.jpg" width="188" height="100"
                                                      alt="斗鱼直播"/>
                <figcaption>斗鱼直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_momo.jpg" width="188" height="100" alt="陌陌直播"/>
                <figcaption>陌陌直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_huajiao.jpg" width="188" height="100"
                                                      alt="花椒直播"/>
                <figcaption>花椒直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_003laifeng.jpg" width="188" height="100"
                                                      alt="来疯"/>
                <figcaption>来疯</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_yizhibo.jpg" width="188" height="100"
                                                      alt="一直播"/>
                <figcaption>一直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_huoshan.jpg" width="188" height="100"
                                                      alt="火山直播"/>
                <figcaption>火山直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_010fxkg.jpg" width="188" height="100"
                                                      alt="酷狗繁星"/>
                <figcaption>酷狗繁星</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_meme.jpg" width="188" height="100" alt="么么直播"/>
                <figcaption>么么直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_007qixiu.jpg" width="188" height="100"
                                                      alt="奇秀"/>
                <figcaption>奇秀</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_009dream.jpg" width="188" height="100"
                                                      alt="梦想直播"/>
                <figcaption>梦想直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_now.jpg" width="188" height="100" alt="NOW"/>
                <figcaption>NOW</figcaption>
            </figure>

            <figure class="wow animated flipInX"><img src="picture/logo_meipai.jpg" width="188" height="100" alt="美拍"/>
                <figcaption>美拍</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_yy.jpg" width="188" height="100" alt="YY直播"/>
                <figcaption>YY直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_taobao.jpg" width="188" height="100"
                                                      alt="淘宝直播"/>
                <figcaption>淘宝直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_jd.jpg" width="188" height="100" alt="京东直播"/>
                <figcaption>京东直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_163.jpg" width="188" height="100" alt="薄荷直播"/>
                <figcaption>薄荷直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_qe.jpg" width="188" height="100" alt="企鹅电竞"/>
                <figcaption>企鹅电竞</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_mogujie.jpg" width="188" height="100"
                                                      alt="蘑菇街"/>
                <figcaption>蘑菇街</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_huayang.jpg" width="188" height="100"
                                                      alt="花样直播"/>
                <figcaption>花样直播</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_kuaishou.jpg" width="188" height="100"
                                                      alt="快手"/>
                <figcaption>快手</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_douyin.jpg" width="188" height="100"
                                                      alt="抖音小视频"/>
                <figcaption>抖音小视频</figcaption>
            </figure>
            <figure class="wow animated flipInX"><img src="picture/logo_chixugengxin.jpg" width="188" height="100"
                                                      alt="持续更新中"/>
                <figcaption></figcaption>
            </figure>
        </div>
        <!--<p class="s-m40 wow animated fadeInUp"><a href="#" class="btn-success about-more" target="_blank">MORE INFO →</a></p>-->
    </div>
</section><!-- kehu end -->

<!-- footer start -->
<!-- footer start -->

<footer style="background-image: url(images/footer_bg.jpg);" class="pingpu-bg" id="yy">
    <div id="demo" class="footer container sx-padding">
        <div class="clearfix wow animated fadeIn">
            <section>
                <h3>华星新媒体 Online booking</h3>

                <img src="picture/erweima.png">

            </section>
            <section class="bianju">
                <h3>联系我们 Contact US</h3>
                <address>
                    <ul class="list-unstyled">
                        <li>公司地址：中国·成都市锦江区时代一号</li>
                        <li>服务电话：028-84449937</li>
                        <li>E-mail：tangtian@hxxd.tv</li>
                    </ul>
                </address>
                <h4>快捷入口 Quick Entry</h4>
                <p><a href="/about/jianjie/" target="_blank">关于我们</a> /
                    <a href="/case/" target="_blank">签约艺人</a> /
                    <a href="/service/anlizhanshi/" target="_blank">业务展示</a> /
                    <a href="/yirenzhaomu/" target="_blank">艺人招募</a> /
                    <a href="/news/" target="_blank">行业资讯</a> /
                    <a href="/contact/" target="_blank">联系我们</a> /
                </p>
                <p class="zhixun"><a href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="qq"
                                     target="_blank">在线QQ咨询</a></p>
            </section>
            <section>
                <h3>内容搜索 Search</h3>
                <form name="formsearch" action="/plus/search.php">
                    <ul class="list-unstyled">
                        <li><input name="q" type="text" class="key" value="输入关键词 Keyword" placeholder="输入关键词 Keyword"
                                   onFocus="if (value =='输入关键词 Keyword'){value =''}"
                                   onBlur="if (value ==''){value='输入关键词 Keyword'}"/><input type="submit"
                                                                                           class="s-button" value="搜索"/>
                        </li>
                    </ul>
                </form>
                <form method="post" target="_blank" action="http://list.qq.com/cgi-bin/qf_compose_send">
                    <ul class="list-unstyled">
                        <li class="mail-tx">输入邮箱定期接收我们的最新信息</li>
                        <li><input type="hidden" value="qf_booked_feedback" name="t"/>
                            <input type="hidden" value="79d7181ac4d8b0144664925406fa6b1ebc29568929546ae8" name="id"/>
                            <input type="text" class="mail" name="to" id="to" value="Email Address"
                                   placeholder="Email Address" onFocus="if (value =='Email Address'){value =''}"
                                   onBlur="if (value ==''){value='Email Address'}"/><input type="submit"
                                                                                           class="m-button" value="提交">
                        </li>
                    </ul>
                </form>
            </section>
        </div>
        <div class="yq-link">
            <hr/>

        </div>
    </div>
    <div class="foot">
        <div class="container clearfix">
            <p class="copy pull-left">COPYRIGHT © 2014-2017 成都华星兄弟文化传媒有限公司 蜀ICP备17035091号-1</p>
            <p class="renzheng pull-right text-right"><img src="picture/2014090504144234.png" width="32" height="32"
                                                           alt="工商合法注册企业" title="工商合法注册企业"/> <img
                    src="picture/2014090504203747.png" width="32" height="32" alt="安全网站" title="安全网站"/> <img
                    src="picture/2014090504244226.png" width="32" height="32" alt="网上报警" title="网上报警"/></p>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- kehu start -->
<!--<div class="kefu">
  <ul class="list-unstyled">
    <li><a href="/contact" title="更多联系方式" target="_blank" class="kefu-lx">在线客服</a></li>
    <li><a href="#yy" class="kefu-yy" title="快速给我们留言" rel="nofollow">快速留言</a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="kefu-zx">在线咨询</a></li>
    <li><a href="#yy" class="kefu-wx" title="华星微信公众号" rel="nofollow">微信公众号<span class="kefu-weixin"><img src="picture/kefu-weixin.jpg" width="140" height="140" alt=""/></span></a></li>
    <li><a href="#top" class="kefu-top" title="回网页顶部" rel="nofollow">返回顶部</a></li>
  </ul>
</div>-->
<!-- jQuery start -->
<script src="js/jquery.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100
        });
    wow.init();
    document.getElementById('moar').onclick = function () {
        var section = document.createElement('section');
        section.className = 'section--purple wow fadeInDown';
        this.parentNode.insertBefore(section, this);
    };
</script>

<!-- header up start -->
<script src="js/headroom.min.js"></script>
<script src="js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<!-- banner start -->
<script type="text/javascript" src="js/jiaodiantu.js"></script>
<script type="text/javascript" src="js/nav.hover.js"></script>


</body>
</html>	
        
        
        
        