<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<title>行业资讯  /  主播资讯_华星兄弟-中国最大的网红粉丝经纪服务平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/style.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico" />
<script src="js/lansige.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<link href="css/ie8.css" rel="stylesheet">
<![endif]-->
<!--[if IE 9]>
<link href="css/ie9.css" rel="stylesheet">
<![endif]-->
<!--[if lte IE 6]>
<meta http-equiv="refresh" content="0;url=/no-ie6.html" />
<![endif]-->
<!--[if lte IE 7]>
<meta http-equiv="refresh" content="0;url=/no-ie6.html" />
<![endif]-->
</head>
<body>
<!-- head start --> 
<header class="header header-top" id="header">
  <div class="container">
    <h1 class="logo pull-left"><img src="picture/logo55.png" width="255" height="51" /></h1>
    <nav class="nav pull-right">
      <ul class="nav-bar list-unstyled pull-left" id="nav"> 
        <li><a href="/">网站首页</a></li>
        <li ><a href="/about/jianjie/">关于我们</a>
          <ul class="list-unstyled">
           
            <li><a href="/about/jianjie/">公司简介</a></li>
            
            <li><a href="/about/wenhua/">团队介绍</a></li>
            
          </ul>
        </li><li ><a href="/case/">签约艺人</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/service/anlizhanshi/">业务展示</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/yirenzhaomu/">艺人招募</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/news/">行业资讯</a>
          <ul class="list-unstyled">
           
            <li><a href="/news/yejiedongtai/">业界资讯</a></li>
            
            <li><a href="/news/jiemuzixun/">主播资讯</a></li>
            
            <li><a href="/news/huaxingdongtai/">华星动态</a></li>
            
          </ul>
        </li><li ><a href="/contact/">联系我们</a>
          <ul class="list-unstyled">
           
            <li><a href="/about/job/">人才招聘</a></li>
            
            <li><a href="/contact/shangwuhezuo/">商务合作</a></li>
            
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

        
        
        
        
         
<!-- head End --> 
<!-- ym-banner start -->
<!-- banner start -->
<div class="text-center">
<ul class="rslides list-unstyled">
    <li><div class="banner" style="background-image:url(images/banner_news.jpg)"><div class="container"></div></div></li>
   </ul>
</div>
<!-- banner End -->
<!-- ym-banner End --> 
<!-- crumbs start -->
<section class="crumbs text-right">
  <div class="container">
    <ul class="list-unstyled" id="nav">
      
      <li><a href="/news/yejiedongtai/" >业界资讯</a></li>
      <li><a href='/news/jiemuzixun/' class='hover'>主播资讯</a></li>
      <li><a href="/news/huaxingdongtai/" >华星动态</a></li>
      
    </ul>
  </div>
</section>
<!-- crumbs End --> 
<!-- content start -->
<div class="neirong sx-padding container" id="demo"> <article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/1114/350.html" target="_blank"><img src="picture/2-1g114104rj47.jpg" alt="2017年原创电竞节目|《国服最强" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/1114/350.html" target="_blank">2017年原创电竞节目|《国服最强</a></h1>
    <p class="shuoming x-m30">节目概述： 《国服最强》是华星兄弟与企鹅电竞联合打造游戏竞技类直播综艺，每期将会邀请王者荣耀国服最强选手做客华星直播间，并通过互动环节，实时与观众互动，实现现场游戏...</p>
    <p><a href="/news/jiemuzixun/2017/1114/350.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-11-14</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/1106/340.html" target="_blank"><img src="picture/2-1g106151926-lp.jpg" alt="2017年制作综艺|《刚好遇见你》" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/1106/340.html" target="_blank">2017年制作综艺|《刚好遇见你》</a></h1>
    <p class="shuoming x-m30">《刚好遇见你》 播出平台：秒拍、美拍、微博等短视平台 节目概述：成都街头相亲速配节目。华星兄弟制作部门在成都主流商圈附近随机街采，为被采访人寻找意中人，通过聊天和趣...</p>
    <p><a href="/news/jiemuzixun/2017/1106/340.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-11-06</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/130.html" target="_blank"><img src="picture/2-1f6011k602231.jpg" alt="2017年播出节目|《奔跑吧老铁》" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/130.html" target="_blank">2017年播出节目|《奔跑吧老铁》</a></h1>
    <p class="shuoming x-m30">《奔跑吧老铁》 播出平台：NOW直播 节目概述：由固定的3位嘉宾参与完成挑战内容的户外直播节目。每期节目中，编导都会给出一定的挑战任务。嘉宾需要通过自己的办法去完成挑战，...</p>
    <p><a href="/news/jiemuzixun/2017/0601/130.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/129.html" target="_blank"><img src="picture/2-1f6011i9462y.jpg" alt="2017年播出节目|宝贝向钱冲" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/129.html" target="_blank">2017年播出节目|宝贝向钱冲</a></h1>
    <p class="shuoming x-m30">宝贝向前冲 播出平台：来疯 节目概述：这是一档大型户外闯关类竞技类真人秀直播节目。节目重金搭建户外场地，精心设置关卡游戏，紧密联系观众互动，百变妖娆美女主播，一场夺...</p>
    <p><a href="/news/jiemuzixun/2017/0601/129.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/128.html" target="_blank"><img src="picture/2-1f6011hhr30.jpg" alt="2017年播出节目|《百变甜心》" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/128.html" target="_blank">2017年播出节目|《百变甜心》</a></h1>
    <p class="shuoming x-m30">《百变甜心》 播出平台：NOW直播 节目概述：这是一档扮演不同职业身份的直播节目。当主播每期直播都以不同职业身份出现时，自身就会带有新鲜和话题感。主播每次扮演不同职业不...</p>
    <p><a href="/news/jiemuzixun/2017/0601/128.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/127.html" target="_blank"><img src="picture/1-1f505142130t3-lp.jpg" alt="2016年节目回顾|找抽呢" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/127.html" target="_blank">2016年节目回顾|找抽呢</a></h1>
    <p class="shuoming x-m30">《找抽呢》 直播平台：优酷来疯房间号：91025 节目简介：一档在线游戏PK 节目。通过密集的积木条，考验玩家手指的极限操作，双方构成一个惩罚分配的逻辑链条，根据这条逻辑链条增...</p>
    <p><a href="/news/jiemuzixun/2017/0601/127.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/126.html" target="_blank"><img src="picture/1-1f505141z0304-lp.jpg" alt="2016年节目回顾|《火拼三贱客》" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/126.html" target="_blank">2016年节目回顾|《火拼三贱客》</a></h1>
    <p class="shuoming x-m30">《火拼三贱客》 直播平台：优酷来疯房间号：90983 节目简介：一档在线游戏PK 节目。酒吧游戏南北派的升级版。两队各3 人相互PK，惊险的游戏，刺激的惩罚。 节目效果：每一期平均同...</p>
    <p><a href="/news/jiemuzixun/2017/0601/126.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article><article class="ny-news clearfix wow animated fadeInUp">
    <figure class="pull-left y-m50"><a href="/news/jiemuzixun/2017/0601/125.html" target="_blank"><img src="picture/1-1f5051414403s-lp.jpg" alt="2016年节目回顾|《嘿嘿嘿》" /></a></figure>
    <h1 class="nr-h20"><a href="/news/jiemuzixun/2017/0601/125.html" target="_blank">2016年节目回顾|《嘿嘿嘿》</a></h1>
    <p class="shuoming x-m30">直播平台：爱奇艺奇秀房间号：159295 节目简介：健身与舞蹈、肌肉男与性感女的完美结合。一档在线直播舞蹈与健身的综艺节目。 节目效果：每一期平均同时在线观看人数：2.5W 每一期...</p>
    <p><a href="/news/jiemuzixun/2017/0601/125.html" class="btn-success" target="_blank">MORE INFO →</a> <small class="mulu"><a href='/news/jiemuzixun/'>主播资讯</a></small> <small class="guanzhu"><script src="js/count.js" type='text/javascript' language="javascript"></script></small> <small class="time">2017-06-01</small> <small class="news-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=41424616&site=qq&menu=yes" target="_blank">qq咨询</a></small> <small class="news-sq"><a href="#" target="_blank">商桥咨询</a></small></p>
  </article>
  <div class="pages"> <a class="page">共 <strong>8</strong>条</a>
 </div>
</div>
<!-- content End --> 
<!-- footer start --> 
<!-- footer start -->

<footer style="background-image: url(images/footer_bg.jpg);" class="pingpu-bg" id="yy">
  <div id="demo" class="footer container sx-padding">
    <div class="clearfix wow animated fadeIn">
      <section>
        <h3>华星新媒体 Online booking</h3>

		  <img src="picture/erweima.png" >

            </section>
      <section class="bianju">
        <h3>联系我们 Contact US</h3>
        <address>
        <ul class="list-unstyled">
          <li>公司地址：中国·成都市锦江区时代一号</li>
          <li>服务电话：028-84449937 </li>
          <li>E-mail：tangtian@hxxd.tv</li>
        </ul>
        </address>
        <h4>快捷入口 Quick Entry</h4>
        <p>  <a href="/about/jianjie/" target="_blank">关于我们</a> / 
           <a href="/case/" target="_blank">签约艺人</a> / 
           <a href="/service/anlizhanshi/" target="_blank">业务展示</a> / 
           <a href="/yirenzhaomu/" target="_blank">艺人招募</a> / 
           <a href="/news/" target="_blank">行业资讯</a> / 
           <a href="/contact/" target="_blank">联系我们</a> / 
           </p>
        <p class="zhixun"> <a href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="qq" target="_blank">在线QQ咨询</a> </p>
      </section>
      <section>
        <h3>内容搜索 Search</h3>
         <form name="formsearch" action="/plus/search.php">
           <ul class="list-unstyled">
             <li><input name="q" type="text" class="key" value="输入关键词 Keyword" placeholder="输入关键词 Keyword" onFocus="if (value =='输入关键词 Keyword'){value =''}" onBlur="if (value ==''){value='输入关键词 Keyword'}" /><input type="submit" class="s-button" value="搜索" /></li>
             </ul>
             </form>
              <form method="post" target="_blank" action="http://list.qq.com/cgi-bin/qf_compose_send">
               <ul class="list-unstyled">
                <li class="mail-tx">输入邮箱定期接收我们的最新信息</li>
                 <li><input type="hidden" value="qf_booked_feedback" name="t" />
                      <input type="hidden" value="79d7181ac4d8b0144664925406fa6b1ebc29568929546ae8" name="id" />
                 <input type="text" class="mail" name="to" id="to" value="Email Address" placeholder="Email Address" onFocus="if (value =='Email Address'){value =''}" onBlur="if (value ==''){value='Email Address'}" /><input type="submit" class="m-button" value="提交"></li>
                    </ul>
                  </form>
 </section>
    </div>
    <div class="yq-link">
      <hr />

    </div>
  </div>
  <div class="foot">
    <div class="container clearfix">
      <p class="copy pull-left">COPYRIGHT © 2014-2017 成都华星兄弟文化传媒有限公司 蜀ICP备17035091号-1</p>
      <p class="renzheng pull-right text-right"> <img src="picture/2014090504144234.png" width="32" height="32" alt="工商合法注册企业" title="工商合法注册企业" /> <img src="picture/2014090504203747.png" width="32" height="32" alt="安全网站" title="安全网站" /> <img src="picture/2014090504244226.png" width="32" height="32" alt="网上报警" title="网上报警" /></p>
    </div>
  </div>
</footer>
<!-- footer end --> 
<!-- kehu start -->
<!--<div class="kefu">
  <ul class="list-unstyled">
    <li><a href="/contact" title="更多联系方式" target="_blank" class="kefu-lx">在线客服</a></li>
    <li><a href="#yy" class="kefu-yy" title="快速给我们留言" rel="nofollow">快速留言</a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="kefu-zx">在线咨询</a></li>
    <li><a href="#yy" class="kefu-wx" title="华星微信公众号" rel="nofollow">微信公众号<span class="kefu-weixin"><img src="picture/kefu-weixin.jpg" width="140" height="140" alt=""/></span></a></li>
    <li><a href="#top" class="kefu-top" title="回网页顶部" rel="nofollow">返回顶部</a></li>
  </ul>
</div>-->
<!-- jQuery start --> 
<script src="js/jquery.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script>
wow = new WOW(
{animateClass: 'animated',
offset:100});
wow.init();
document.getElementById('moar').onclick = function() {
var section = document.createElement('section');
section.className = 'section--purple wow fadeInDown';
this.parentNode.insertBefore(section, this);};
</script> 

<!-- header up start --> 
<script src="js/headroom.min.js"></script> 
<script src="js/jquery.headroom.js"></script> 
<script>$("#header").headroom();</script> 
<!-- banner start --> 
<script type="text/javascript" src="js/jiaodiantu.js"></script> 
<script type="text/javascript" src="js/nav.hover.js"></script>
        
        
</body>
</html>