<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<title>联系我们 > 人才招聘_华星兄弟-中国最大的网红粉丝经纪服务平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/style.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico" />
<script src="js/lansige.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<link href="css/ie8.css" rel="stylesheet">
<![endif]-->
<!--[if IE 9]>
<link href="css/ie9.css" rel="stylesheet">
<![endif]-->
<!--[if lte IE 6]>
<meta http-equiv="refresh" content="0;url=/no-ie6.html" />
<![endif]-->
<!--[if lte IE 7]>
<meta http-equiv="refresh" content="0;url=/no-ie6.html" />
<![endif]-->
</head>
<body>
<!-- head start --> 
<header class="header header-top" id="header">
  <div class="container">
    <h1 class="logo pull-left"><img src="picture/logo55.png" width="255" height="51" /></h1>
    <nav class="nav pull-right">
      <ul class="nav-bar list-unstyled pull-left" id="nav"> 
        <li><a href="/">网站首页</a></li>
        <li ><a href="/about/jianjie/">关于我们</a>
          <ul class="list-unstyled">
           
            <li><a href="/about/jianjie/">公司简介</a></li>
            
            <li><a href="/about/wenhua/">团队介绍</a></li>
            
          </ul>
        </li><li ><a href="/case/">签约艺人</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/service/anlizhanshi/">业务展示</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/yirenzhaomu/">艺人招募</a>
          <ul class="list-unstyled">
           
          </ul>
        </li><li ><a href="/news/">行业资讯</a>
          <ul class="list-unstyled">
           
            <li><a href="/news/yejiedongtai/">业界资讯</a></li>
            
            <li><a href="/news/jiemuzixun/">主播资讯</a></li>
            
            <li><a href="/news/huaxingdongtai/">华星动态</a></li>
            
          </ul>
        </li><li ><a href="/contact/">联系我们</a>
          <ul class="list-unstyled">
           
            <li><a href="/about/job/">人才招聘</a></li>
            
            <li><a href="/contact/shangwuhezuo/">商务合作</a></li>
            
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

        
        
        
        
         
<!-- head End --> 
<!-- ym-banner start -->
<!-- banner start -->
<div class="text-center">
<ul class="rslides list-unstyled">
    <li><div class="banner" style="background-image:url(images/444.jpg)"><div class="container"></div></div></li>
   </ul>
</div>
<!-- banner End -->
<!-- ym-banner End --> 
<!-- crumbs start -->
<section class="crumbs text-right">
  <div class="container">
    <ul class="list-unstyled">
      <li><a href='/about/job/' class='hover'>人才招聘</a></li>
      <li><a href="/contact/shangwuhezuo/" >商务合作</a></li>
      
    </ul>
  </div>
</section>
<!-- crumbs End --> 
<!-- content start -->
<div class="neirong">
  <article class="container info sx-padding" id="demo"> <h2 class="wow animated fadeInUp animated" style="font-family: 'microsoft yahei', 'lvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.5; color: rgb(51, 51, 51); -webkit-animation: fadeInUp 1s both; visibility: visible;">
	英才招募 Recruitment</h2>
<hr />
<div>
	<span style="font-size:16px;"><strong>【</strong></span><span style="font-size: 16px;"><strong>运营专员</strong></span><span style="font-size: 16px;"><strong>】</strong></span><br />
	&nbsp;</div>
<div>
	<span style="font-size: 16px;">岗位</span><span style="font-size: 16px;">职责：</span></div>
<div>
	<span style="font-size:16px;">1、 负责通过网络招募、拓展、挖掘、培养、管理主播，整理主播资料，建设主播团队；</span></div>
<div>
	<span style="font-size:16px;">2、 培养潜力主播，维护已有主播，配合运营部门，协助完成主播入驻直播平台引导工作；</span></div>
<div>
	<span style="font-size:16px;">3、 负责跟进主播的咨询、投诉、建议，反馈，有效处理并提出合理的解决方案；</span></div>
<div>
	<span style="font-size:16px;">4、 协助负责人优化主播招募及管理流程，构建友好和谐的主播管理制度；</span></div>
<div>
	<span style="font-size:16px;">5、 完成上级布置的临时工作，提高主播的整体数量、质量，并对主播的推广效果，运营数据，目标业绩负责。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">任职要求：</span></div>
<div>
	<span style="font-size:16px;">1、至少1年以上互联网平台运营经验，对主播行业感兴趣；</span></div>
<div>
	<span style="font-size:16px;">2、熟悉文化娱乐产业，有丰富的行业渠道资源，有运营类似互联网平台的经营管理经验，优先考虑；</span></div>
<div>
	<span style="font-size:16px;">4、擅长沟通表达，性格开朗，责任感强，工作积极主动，具备学习意识，有良好的团队协作意识；</span></div>
<div>
	<span style="font-size:16px;">5、抗压力强，能在压力下工作。</span><br />
	<hr />
	<div>
		<span style="font-size:16px;"><strong>【艺人经纪人】</strong></span><br />
		&nbsp;</div>
	<div>
		<span style="font-size:16px;">岗位职责：</span></div>
	<div>
		<span style="font-size:16px;">1. 负责公司全约艺人的演出、代言等外联和拓展工作</span></div>
	<div>
		<span style="font-size:16px;">2. 负责计划并安排日程，发布通告，并完成帐务结算</span></div>
	<div>
		<span style="font-size:16px;">3. 负责陪同公司全约艺人出席各类演出活动</span></div>
	<div>
		<span style="font-size:16px;">4. 积极建立并维护与外部经纪公司及演艺单位的沟通，维护媒体关系促进良好发展</span></div>
	<div>
		<span style="font-size:16px;">5. 协调沟通客户和艺人的关系，解决纠纷等相关问题。</span></div>
	<div>
		<span style="font-size:16px;">6. 对艺人进行一个专业化的包装培养。</span><br />
		&nbsp;</div>
	<div>
		<span style="font-size:16px;">任职要求：</span></div>
	<div>
		<span style="font-size:16px;">1. 热爱演艺经纪事业</span></div>
	<div>
		<span style="font-size:16px;">2. 出色的资源开发与人际关系维护能力，能经常出差</span></div>
	<div>
		<span style="font-size:16px;">3. 有熟悉艺人管理工作流程和演出市场规律，有丰富的演出及媒体资源</span></div>
	<div>
		<span style="font-size:16px;">4. 演艺经纪、文化、娱乐传媒工作经历，具有演出经纪人资格者优先</span></div>
	<div>
		<span style="font-size:16px;">5. 责任心强，有良好的沟通协调能力和团队合作精神。</span></div>
	<div>
		<span style="font-size:16px;">6. 持经纪人证优先。</span><br />
		<hr />
		<strong style="color: rgb(51, 51, 51); font-family: &quot;Microsoft Yahei&quot;; font-size: 17px; letter-spacing: -1px;">【网络维护工程师】</strong><br />
		&nbsp;</div>
</div>
<div class="wow animated fadeInUp animated" style="-webkit-animation: fadeInUp 1s both; color: rgb(51, 51, 51); font-family: 'microsoft yahei', 'lvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 30px; visibility: visible;">
	<div style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">岗位职责：</span></span></div>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">1.按要求完成日常运维相关工作； 2.执行分派的各类专项任务并反馈相关问题和完成情况；&nbsp;</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">3.对其他现场服务工程师提供支持；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">4.参加应急值班工作；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">6.意愿强、主动积极、做事认真、学习能力强、有责任性,有信息安全意识。</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">7.有经营网店工作者有先。</span></span><br />
		&nbsp;</p>
	<div style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">任职要求：<strong>&nbsp;</strong></span></span></div>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">1.能承担网络工程师岗位；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">2.了解当前主流的桌面操作系统，能独立进行WindowsXPPrd、windowx7安装、配置与故障调试；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">3.了解主流办公软件Office、Outlook、forxmail等客户端安装、配置、调试及功能使用；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">4.了解常用网络命令、能进行简单的网络故障排查；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">5.能够进行打印机等外设的基本故障诊断、排错及维修；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">6.能够进行台式机笔记本等IT设备的故障诊断和硬件拆装；</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">7.掌握桌面设备维修操作技术规范及流程。</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">8.能承担设备、音频的调试工作。</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">9.能熟悉和安装网吧管理系统。</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">10.对声卡、声卡调试功能熟悉。</span></span></p>
	<p style="font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">11.对电脑硬件维修及维护熟悉。</span></span></p>
</div>
<pre class="js_message_plain ng-binding" ng-bind-html="message.MMActualContent" style="margin-top: 0px; margin-bottom: 0px; font-family: inherit; font-size: 14px; white-space: pre-wrap; word-break: normal; color: rgb(0, 0, 0);">
</pre>
<hr />
<h1 style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
	<strong>【游戏后期剪辑</strong><strong>】</strong></h1>
<br />
<div>
	<span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">岗位职责：</span></span></div>
<div>
	<span style="font-size:16px;">1.负责游戏比赛的视频的剪辑和后期制作;&nbsp;<br />
	2.根据游戏产品，提供推广视频创意并收集材料制作完成;<br />
	3.推广视频剪辑编排，制作与之相关的文字特效素材;<br />
	4.制作gif或flash动画并压缩。</span><br />
	&nbsp;</div>
<div>
	<span style="font-size:16px;">任职要求：&nbsp;<br />
	1.相关专业毕业，有游戏方面的作品，熟悉游戏宣传视频展现方式 。<br />
	2.有玩过王者荣耀、英雄联盟、绝地求生等热门游戏，要有创新意识。<br />
	3.会使用视频编辑软件（Pro，Editor，VAGAS等至少一种），有各种视频压缩经验；&nbsp;<br />
	4.对视频特效制作软件After Effects，nuke等至少熟练一种或多种；&nbsp;</span><br />
	<span style="font-size: 16px;">5.周末双休</span></div>
<hr />
<h1 style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
	<strong>【电商运营</strong><strong>】</strong></h1>
<br />
<span style="font-size:16px;">岗位职责<br />
1、负责公司合作的天猫店铺的推广工作,提高店铺与广告的点击率、浏览量和转化率,促进销售目标达成；<br />
2、策划、制定店铺及产品的推广方案；<br />
3、研究、开发性价比高的、高效的网络广告、电商直播及推广方式；<br />
4、分析店铺的页面流量、独立IP访问量等数据，确定网络广告、推广方式的真实投放效果；<br />
5、根据IP、PV、销量、跳出率、地域分布、转化率等数据做出专业的数据分析，并形成营销决策报告；<br />
6、精通淘宝直播、淘宝客、钻石展位等淘宝宣传工具的所有操作，并能收集、策划淘宝站内各种免费推广活动；<br />
7、完成领导安排的其他工作。<br />
&nbsp;<br />
任职要求：<br />
1、基本要求：精通淘宝网、天猫营销规则，熟悉淘宝网会员的购物习惯和购物心理；<br />
2、熟悉电商直播行业的业务流程。<br />
3、个人能力：对数据变化敏感，具备优秀的数据分析能力和逻辑思维能力；<br />
4、职业素养：善于沟通，有高度的责任心、抗压能力和学习能力，具备较强的执行能力、团队协作精神；<br />
5、其他：熟悉店铺后台的实际操作。</span><br />
<br />
<hr />
<h1 style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
	<strong>【淘宝直播运营</strong><strong>】</strong></h1>
<br />
<div>
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">岗位职责：<br />
	1、熟知淘宝、平台规则，负责我公司淘宝直播的整体运营管理，包括商品管理、日、运营协调、店铺整体协调、店铺信息修改及更新、运营数据分析、CRM管理等；<br />
	2、优化淘宝、了解美妆行业；<br />
	3、活动规划：负责淘宝、活动报名及跟进；了解淘宝平台各频道活动资源，能够独立策划店铺的常态营销活动及频道活动，并推进落实执行，后期对活动的效果进行分析和优化；<br />
	4、其他：完成领导交付的其他任务。<br />
	<br />
	任职资格：<br />
	1、大专以上学历（市场营销、电子商务专业优先），三年以上电子商务运营负责人经验（淘宝或者天猫商城），有护肤品网店经营经验者优先；<br />
	2、熟悉电商发展现状与未来趋势，熟悉淘宝、运营环境、交易规则、推广技巧，产品整合，具淘宝客情资源；<br />
	3、对数据敏感，快速发现问题并作出调整;<br />
	4、有成功的运营案例;</span></span></div>
<div>
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">公司福利：周末双休，员工旅游，节假日福利，绩效奖金、年终奖、专业培训、下午茶、不定时聚餐。</span></span></div>
&nbsp;<br />
<hr />
<h1 style="font-size: 17px; font-family: &quot;Microsoft Yahei&quot;; margin: 0px; padding: 0px; font-weight: 500; font-stretch: normal; line-height: normal; color: rgb(51, 51, 51); letter-spacing: -1px;">
	<strong>【编导实习生</strong><strong>】</strong></h1>
<br />
<span style="display: none;">&nbsp;</span>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-family: 宋体; letter-spacing: 0px;"><span id="cke_bm_120S" style="display: none;">&nbsp;</span>岗位职责：</span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-family: 宋体; letter-spacing: 0px;">1、</span><span style="font-family: 宋体; letter-spacing: 0px;">能够根据</span><span style="font-family: 宋体; letter-spacing: 0px;">公司及行业属性，并结合品牌定位进行媒体和品牌传播；</span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-family: 宋体; letter-spacing: 0px;">2、撰写深度的企业发展稿、行业稿、活动稿、企业文化稿、舆论稿等；</span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">3、</span><span style="font-family: 宋体; letter-spacing: 0px;">负责宣传推广文案及宣传资料文案的撰写；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">4</span><span style="font-family: 宋体; letter-spacing: 0px;">、负责公司对外媒体和广告表现文字的撰写</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">5、</span><span style="font-family: 宋体; letter-spacing: 0px;">策划、执行公司品牌建设相关工作；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">6、</span><span style="font-family: 宋体; letter-spacing: 0px;">参与策划和执行公司重大活动；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">7、负责对网站</span><span style="font-family: 宋体; letter-spacing: 0px;">、微博、微信</span><span style="font-family: 宋体; letter-spacing: 0px;">、</span><span style="font-family: 宋体; letter-spacing: 0px;">论坛</span><span style="font-family: 宋体; letter-spacing: 0px;">、</span><span style="font-family: 宋体; letter-spacing: 0px;">H5等传播工具的运维</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">任职要求：</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">1、3</span><span style="font-family: 宋体; letter-spacing: 0px;">年以上网站编辑、文案策划、新闻、采编、记者等工作经验优先考虑；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">2、</span><span style="font-family: 宋体; letter-spacing: 0px;">熟悉企业宣传策划，有网络推广创意、文案相关工作经验者优先</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">3、</span><span style="font-family: 宋体; letter-spacing: 0px;">具有较强的文案写作能力，出色的文字组织能力，写作经验丰富，有丰富的提案经验；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">4、熟悉市场推广、品牌策划、活动策划的整个流程；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">5、拥有网络营销或策划经验，熟悉品牌与企业文化战略规划；</span></span></p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
	<span style="font-size:16px;"><span style="font-family: 宋体; letter-spacing: 0px;">6、创意能力强、思维敏捷、善于沟通、具有良好的语言表达能力。<span id="cke_bm_120E" style="display: none;">&nbsp;</span></span></span></p>
<span style="display: none;">&nbsp;</span>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	&nbsp;</p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	&nbsp;</p>
<p style="font-size: 14px; font-family: simsun; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	<strong>HR：袁洪群</strong></p>
<p style="font-size: 14px; font-family: simsun; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	<strong>Tel</strong><strong>：<span style="font-size:14px;"><span style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif;">181-8086-5736</span></span></strong></p>
<p style="font-size: 14px; font-family: simsun; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	&nbsp;</p>
<p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-stretch: normal; line-height: 25px; color: rgb(51, 51, 51);">
	<br />
	<strong><a href="http://company.zhaopin.com/CC208396384.htm">您也可以点此登录智联招聘投递相关简历&nbsp;</a></strong></p>

    <div class="content_page"></div>
  </article>
</div>
<!-- content End --> 
<!-- footer start --> 
<!-- footer start -->

<footer style="background-image: url(images/footer_bg.jpg);" class="pingpu-bg" id="yy">
  <div id="demo" class="footer container sx-padding">
    <div class="clearfix wow animated fadeIn">
      <section>
        <h3>华星新媒体 Online booking</h3>

		  <img src="picture/erweima.png" >

            </section>
      <section class="bianju">
        <h3>联系我们 Contact US</h3>
        <address>
        <ul class="list-unstyled">
          <li>公司地址：中国·成都市锦江区时代一号</li>
          <li>服务电话：028-84449937 </li>
          <li>E-mail：tangtian@hxxd.tv</li>
        </ul>
        </address>
        <h4>快捷入口 Quick Entry</h4>
        <p>  <a href="/about/jianjie/" target="_blank">关于我们</a> / 
           <a href="/case/" target="_blank">签约艺人</a> / 
           <a href="/service/anlizhanshi/" target="_blank">业务展示</a> / 
           <a href="/yirenzhaomu/" target="_blank">艺人招募</a> / 
           <a href="/news/" target="_blank">行业资讯</a> / 
           <a href="/contact/" target="_blank">联系我们</a> / 
           </p>
        <p class="zhixun"> <a href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="qq" target="_blank">在线QQ咨询</a> </p>
      </section>
      <section>
        <h3>内容搜索 Search</h3>
         <form name="formsearch" action="/plus/search.php">
           <ul class="list-unstyled">
             <li><input name="q" type="text" class="key" value="输入关键词 Keyword" placeholder="输入关键词 Keyword" onFocus="if (value =='输入关键词 Keyword'){value =''}" onBlur="if (value ==''){value='输入关键词 Keyword'}" /><input type="submit" class="s-button" value="搜索" /></li>
             </ul>
             </form>
              <form method="post" target="_blank" action="http://list.qq.com/cgi-bin/qf_compose_send">
               <ul class="list-unstyled">
                <li class="mail-tx">输入邮箱定期接收我们的最新信息</li>
                 <li><input type="hidden" value="qf_booked_feedback" name="t" />
                      <input type="hidden" value="79d7181ac4d8b0144664925406fa6b1ebc29568929546ae8" name="id" />
                 <input type="text" class="mail" name="to" id="to" value="Email Address" placeholder="Email Address" onFocus="if (value =='Email Address'){value =''}" onBlur="if (value ==''){value='Email Address'}" /><input type="submit" class="m-button" value="提交"></li>
                    </ul>
                  </form>
 </section>
    </div>
    <div class="yq-link">
      <hr />

    </div>
  </div>
  <div class="foot">
    <div class="container clearfix">
      <p class="copy pull-left">COPYRIGHT © 2014-2017 成都华星兄弟文化传媒有限公司 蜀ICP备17035091号-1</p>
      <p class="renzheng pull-right text-right"> <img src="picture/2014090504144234.png" width="32" height="32" alt="工商合法注册企业" title="工商合法注册企业" /> <img src="picture/2014090504203747.png" width="32" height="32" alt="安全网站" title="安全网站" /> <img src="picture/2014090504244226.png" width="32" height="32" alt="网上报警" title="网上报警" /></p>
    </div>
  </div>
</footer>
<!-- footer end --> 
<!-- kehu start -->
<!--<div class="kefu">
  <ul class="list-unstyled">
    <li><a href="/contact" title="更多联系方式" target="_blank" class="kefu-lx">在线客服</a></li>
    <li><a href="#yy" class="kefu-yy" title="快速给我们留言" rel="nofollow">快速留言</a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1007363025&site=qq&menu=yes" class="kefu-zx">在线咨询</a></li>
    <li><a href="#yy" class="kefu-wx" title="华星微信公众号" rel="nofollow">微信公众号<span class="kefu-weixin"><img src="picture/kefu-weixin.jpg" width="140" height="140" alt=""/></span></a></li>
    <li><a href="#top" class="kefu-top" title="回网页顶部" rel="nofollow">返回顶部</a></li>
  </ul>
</div>-->
<!-- jQuery start --> 
<script src="js/jquery.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script>
wow = new WOW(
{animateClass: 'animated',
offset:100});
wow.init();
document.getElementById('moar').onclick = function() {
var section = document.createElement('section');
section.className = 'section--purple wow fadeInDown';
this.parentNode.insertBefore(section, this);};
</script> 

<!-- header up start --> 
<script src="js/headroom.min.js"></script> 
<script src="js/jquery.headroom.js"></script> 
<script>$("#header").headroom();</script> 
<!-- banner start --> 
<script type="text/javascript" src="js/jiaodiantu.js"></script> 
<script type="text/javascript" src="js/nav.hover.js"></script>
        
        
</body>
</html>